<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div class="contenedor_login-register">

    <form method="POST" action="/login" class="formulario__login">
        <h2>Iniciar sesión</h2>
        <input type="email" placeholder="Correo electronico" required name ="email">
        <input type="password" placeholder="Contraseña" required name = "password">
        <button>Entrar</button>
    </form>

    <a href="/register">Registrar</a>

    


</div>

</body>
</html>