<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/register" class="formulario__login">
        <h2>REGISTRARSE</h2>
        <input type="text" placeholder="Nombre completo" required name ="name">
        <input type="email" placeholder="Correo electronico" required name = "email">
        <input type="password" placeholder="Contraseña" required name = "password">
        <button>REGISTRARSE</button>
    </form>
</body>
</html>
